{% extends 'base.html' %}
{% load static %}

{% block title %} | About Us {% endblock title %}

 {% block content %}
 
   <!-- Preloader -->
    <div class="preloader"></div>


	

    <!-- Banner area -->
    <section class="banner_area" data-stellar-background-ratio="0.5">
        <h2>About Us</h2>
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#" class="active">WHO WE ARE</a></li>
        </ol>
    </section>
    <!-- End Banner area -->

    <!-- Who We Are Area -->
    <section class="about_us_area row">
        <div class="container">
        
            <div class="row about_row">
                <div class="col-md-5 col-sm-6 about_client about_pages_client">
                    <img src=" {% static 'images/team/precious3.png' %}"  width="500.467" height="457.5"  alt="">
                    
                    <div class="team_content mb-4">    
                        <br>      
                        <h4 class="text-center mt-2"><a href="#" class="name">Ms Precious Monwadibe Ratlou </a> </h4> 
                        <h5 class ="text-center">Founder &amp; Managing Director </h5>                        
                    </div>
                    
                </div>
                <div class="who_we_area col-md-7 col-sm-6">
                    <div class="subtittle">
                        <h2>WHO WE ARE</h2>
                    </div>
                    <p>Mwelase Thobs Construction &amp; Projects is an emerging wholly women &amp; black-owned company committed to the development 
                    of South Africa and its future.
                        We are  a dynamic company where innovation and lateral thinking is promoted. 
                        Mwelase was created with the intention of venturing into the construction industry 
                        in which the previously disadvantaged did not take part.
                    </p>
                    <p>The  <strong> Founder and Director, Ms Precious Monwadibe Ratlou,</strong> is a young, 
                        dynamic black woman with a passion for community-oriented growth and development. 
                        Her passsion for empowering aspirant young women is the key differentiator for her drive to succeed
                     </p>

                    <a href="{% url 'main_web:contact'%}" class="button_all">Contact Us Now</a>
                </div>
            </div>
            
        </div>
    </section>
    <!-- End Who We Are Area -->

    <!-- Our Achievments Area -->
    <section class="our_achievments_area" data-stellar-background-ratio="0.3">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2>Our Achievments</h2>
                <h4>Total count of a portflio of our projects completed to date</h4>
            </div>
            <div class="achievments_row row">
                <div class="col-md-3 col-sm-6 p0 completed">
                    <i class="fa fa-road" aria-hidden="true"></i>
                    <span class="counter">48</span>
                    <h6>Projects Completed &amp; Counting</h6>
                </div>
                <div class="col-md-3 col-sm-6 p0 completed">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span class="counter">47</span>
                    <h6>PEOPLE DIRECTLY EMPLOYED</h6>
                </div>
                <div class="col-md-3 col-sm-6 p0 completed">
                    <i class="fa fa-code-fork" aria-hidden="true"></i>
                    <span class="counter">450</span>
                    <h6>JOB OPPORTUNITIES</h6>
                </div>
                <div class="col-md-3 col-sm-6 p0 completed">
                    <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                    <span class="counter">123</span>
                    <h6>PEOPLE INDIRECTLY EMPLOYED</h6>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Achievments Area -->

    <!-- Our Strategic Intent Area -->
    <section class="our_feature_area">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2>Our Goals</h2>
                <h4>Our Goals are informed by a clear Vision, Mission and Stategic Objectives</h4>
            </div>
            <div class="feature_row row">
                <div class="col-md-6 feature_img">
                    <img src="{% static 'images/mwl_strategy.jpg' %}" width="458" height="570" alt="">
                </div>
                <div class="col-md-6 feature_content">
                    <div class="subtittle">
                        <h2>Strategic Intent</h2>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <i class="fa fa-rocket" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#">Vision</a>
                            
                            <p> 
                                <ul>
                                    <li>
                                        A leading African civil and building construction company of choice, 
                                        intent on providing quality services
                                        that conform to global industry best practices and standards.
                                    </li>
                                </ul>
                        </p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <i class="fa fa-briefcase" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#">Mission</a>
                            <p>
                                <ul>
                                    <li> To deliver innovative services enabled by superior workmanship in the civil and building construction sector throughout  whilst maintaining excellent quality control.</li>
                                    <li> To foster long-term, sustainable professional relationship with our clients based on trust, performance and client satisfaction.</li>
                                    <li>To contribute to economic growth of South Africa through strategic partnerships and job creation interventions for the communities in which we operate.</li>
                                </ul>   
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <i class="fa fa-building-o" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#">Strategic Objectives</a>
                            <p>
                                <ul>
                                    <li> Establish and build good quality buildings for schools, offices and homes.
                                    </li>
                                    <li>Construct roads that are safe and of the best quality possible</li>
                                    <li>Minimise the rate of unemployment by creating job opportunities. 
                                        Changing the mind set of workers by actively involving them in the running of the company in the form of mentorships.
                                    </li>
                                    <li>Empower the disadvantaged with business skills.</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Strategic Intent Area -->

    <!-- call Area -->
    <section class="call_min_area">
        <div class="container">

            <h2>+27 12 525 1046 / +27 72 356 5838</h2>
            <p>Contact Us. We are the top Construction Company.</p>
            <div class="call_btn">
                <a href="{% url 'main_web:contact'%}" class="button_all">GET IN TOUCH</a>
                <a href="{% url 'main_app:portfolio'%}" class="button_all">SEE OUR PORTFOLIO</a>
            </div>
        </div>
    </section>
    <!-- End call Area -->
{% endblock content %}
